<div class="jumbotron">

</div>
<div class="row">
    Dis da home page

    <input type="text" placeholder="Username" />
    <input type="text" placeholder="Password" />

    <button>Login</button> <!--TODO-->

    @Html.ActionLink("List", "List", "DVD")
    @Html.ActionLink("Create", "Create", "DVD")

</div>
